body {
  padding: 0;
  margin: 0;
  background-image: url("./bird.png");
  background-size: 65%; 
  background-position: top center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  text-align: center;
}

h1 {
  color: transparent;
  background-clip: text;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-repeat: repeat;
  font-size: 7vw; 
  font-family: 'Questrial';
  font-weight: 900;
  animation: bgAnim 9s infinite ease-in-out;
  letter-spacing: 0px;
  -webkit-text-stroke: 0.7px #282828;
  paint-order: stroke fill;
  white-space: nowrap;
  background-image: url("./birdss.png");
  background-size: 80%; 
  background-position: center;
}

@keyframes bgAnim {
  50% {
    background-position: right bottom;
  }
  50% {
    background-position: left top;
  }
  50% {
    background-position: right bottom;
  }
}

h2 {
  color: #000000;
  paint-order: stroke fill;
  font-size: 2vw; 
  font-family: 'Questrial';
  font-weight: 900;
  letter-spacing: 0px;
}

@media (max-width: 768px) { 
  body {
    background-size: 90%; /* Povećaj sliku na 90% */
  }

  h2 {
    font-size: 4vw; 
    width: 90%; 
    margin: 0 auto; 
    line-height: 1.3em; 
  }
  
  h1 {
    font-size: 9vw; 
  }
}